<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        version="6.0"
         metadata-complete="false">

    <display-name>wallet-service</display-name>

    <filter>
        <filter-name>JWTFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JWTFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>